<div>
    <div ng-controller="LoginController as vm">
        <div class="container">
            <div class="panel">
                <div class="panel-body">
                    <div class="container">
                        <h2>Login</h2>
                        <br>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="usuario" class="col-sm-1">Usuário</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control text-left" ng-model="vm.usuario.usuario" id="usuario" placeholder="Informe o usuário">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="senha" class="col-sm-1">Senha</label>
                                <div class="col-sm-6">                                    
                                    <input type="password" class="form-control text-left" ng-model="vm.usuario.senha" id="senha" placeholder="Senha" name="senha" id="senha">
                                </div>
                            </div>
                            <div class="text-right col-sm-7">
                                <!--a href="/cadastroUsuario" class="btn btn-default btn-lg">Cadastrar-se</a-->
                                <button ng-click="vm.logar()" type="button" class="btn btn-success btn-lg">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>